<aside class="frinky-values">

  {% if page.url == '/frinky-values/' %}
    {% assign link = '/' %}
  {% else %}
		{% assign link = '/frinky-values/' %}
	{% endif %}

	<a href="{{ link | prepend: site.baseurl }}">
		<img src="/assets/frinky-values_cl_wrapper.png" class="button-image">
	</a>

</aside>

<aside class="frinky-who">

  {% if page.url == '/frinky-who/' %}
    {% assign link = '/' %}
  {% else %}
		{% assign link = '/frinky-who/' %}
	{% endif %}

	<a href="{{ link | prepend: site.baseurl }}">
		<img src="/assets/frinky-who_cl_wrapper.png" class="button-image">
	</a>

</aside>

</aside>

<aside class="shop-frinky">

  {% if page.url == '/shop-frinky/' %}
    {% assign link = '/' %}
  {% else %}
		{% assign link = '/shop-frinky/' %}
	{% endif %}

	<a href="{{ link | prepend: site.baseurl }}">
		<img src="/assets/shop-frinky_cl_wrapper.png" class="button-image">
	</a>

</aside>

</aside>

<aside class="frinky-in-touch">

  {% if page.url == '/frinky-in-touch/' %}
    {% assign link = '/' %}
  {% else %}
		{% assign link = '/frinky-in-touch/' %}
	{% endif %}

	<a href="{{ link | prepend: site.baseurl }}">
		<img src="/assets/frinky-in-touch_cl_wrapper.png" class="button-image">
	</a>

</aside>
